.Node {
    height: 20px;
    width: 20px;
    background-color: rgb(255, 255, 255);
    outline: 1px solid rgb(40, 237, 233) ;
    display: inline-block;

}

.Node-Destination{
    background-color: rgb(40, 237, 233);
}

.Node-Source{
    background-color: rgb(40, 237, 233);
}

.Node-Wall {
    background-color: rgb(16, 11, 97);
    animation-name:WallAnimation ;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards; /*-----------------Change to Forwards*/
    animation-play-state: running;
  }
 /*
@keyframes WallAnimation{
    0% {
        transform: scale(0.3);
        background-color: rgb(150, 150, 150);
        border-radius: 100%;
      }
    
      50% {
        background-color: rgba(126, 124, 124, 0.75);
      }
    
      75% {
        transform: scale(1.2);
        background-color: rgba(112, 112, 112, 0.75);       
      }
    
      100% {
        transform: scale(1);
        background-color: rgb(98, 100, 100);
      }
}*/


.Node-Shortest-Path {
    animation-name: ShortestPath;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
  }
  
  @keyframes ShortestPath {
    0% {
      transform: scale(0.6);
      background-color: rgb(255, 254, 106);
    }
  
    50% {
      transform: scale(1.5);
      background-color: rgb(255, 254, 106);                       /*Default scale value is 1.2*/ 
    }
  
    100% {
      transform: scale(1);
      background-color: rgb(255, 254, 106);
    }
  }
  

  .Node-Visited {
    animation-name: VisitedAnimation;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
  }
  
  @keyframes VisitedAnimation {
    0% {
      transform: scale(0.3);
      background-color: rgb(16, 11, 97);
      border-radius: 100%;
    }
  
    50% {
      background-color: rgba(17, 104, 217, 0.75);
    }
  
    75% {
      transform: scale(1.5);
      background-color: rgba(0, 217, 159, 0.75);             /*Default scale value is 1.2*/ 
    }
  
    100% {
      transform: scale(1);
      background-color: rgb(40, 237, 233);
    }
  }
 